/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */
/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */

[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type="search"] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* header start */
.menu-nav-header {
  padding: 10px 20px;
  background: #464646;
  color: #fff;
}
.menu-nav-header .list-menu {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.menu-nav-header .list-menu li {
  margin-left: 15px;
}

/* header end */

main {
  padding-top: 50px;
}

/* footer start */
.footer {
  text-align: center;
}
/* fotoer end */

/* form start */
.login-form {
  margin: 100px 0;
}
.login-form .ttl {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}
.form-container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}
.form-container .block-btn {
  text-align: center;
}
.form-control {
  display: inline-block;
  width: 95%;
  margin-right: 5px;
}
/* form end */

/* index.html start */
.top-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
  align-items: flex-start;
}
/* part-search start */
.part-search {
  width: 400px;
  background: #efefef;
  padding: 20px 15px;
  flex-shrink: 0;
}
.part-search .form-control {
  width: 100%;
  margin-right: 0;
}
.part-search .block-btn {
  text-align: right;
  margin-top: 30px;
}
/* part-search end */
/* osusume-kigyo start */
.part-output {
  width: 780px;
  flex-shrink: 0;
}
.part-output .ttl {
  font-size: 24px;
  margin-bottom: 20px;
}
.block-kigyo {
  border: 2px solid #efefef;
  padding: 20px 15px;
  margin-bottom: 15px;
}
.block-kigyo h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
.block-kigyo .point {
  margin-top: 10px;
}
.block-kigyo .point .ws-point {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  align-items: center;
  margin-bottom: 10px;
}
.block-kigyo .point .ws-point .tag {
  padding: 5px;
  width: 100px;
  text-align: center;
  color: #fff;
  margin-right: 15px;
}
.block-kigyo .point .ws-point.strong .tag {
  background: #4e8fc7;
}
.block-kigyo .point .ws-point.weak .tag {
  background: #d53131;
}
.block-kigyo .block-btn {
  text-align: right;
}

/* osusume-kigyo end */
/* index.html end */

/* mypage.html start */
.mypage-form {
  margin-bottom: 30px;
}
.mypage-form .ttl {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}
/* mypage.html end */

/* chat.html start */
.page-chat main {
  padding-top: 0;
}
.chat-container .list-member {
  background: #efefef;
  width: 350px;
}
.chat-container .list-member .img {
  width: 50px;
  height: 50px;
  background: #aaa;
  border-radius: 50%;
  margin-right: 10px;
}
.chat-container .list-member .item-member a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
}
.chat-container .list-member .item-member a.active {
  background: #218838;
  color: #fff;
}

/* chat.html end */